---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';

const pageTitle = "About | Usrarama";
const pageDescription = "Learn more about Usrarama, a graphic designer specializing in branding and logo design. Discover the story, skills, and passion behind the portfolio.";
---

<Layout title={pageTitle} description={pageDescription}>
  <Navigation currentPage="about" /> {/* Setting currentPage to "about" */}

  <main class="bg-gray-50 py-20">
    <div class="container mx-auto px-8">
      <section id="about-content" class="bg-white rounded-lg shadow-md p-8">
        <h1 class="text-3xl font-bold mb-6">About Me</h1>
        <p class="text-gray-700 leading-relaxed mb-4">
          I had the idea to create this site because I was wondering where I could share my projects with the world, and creating a website was one of the ideas that came to my mind. As I'm not a professional programmer, the site may look a little barebones, but I've done something to make it a little interactive. Don't worry; I'll definitely crack the code to web development and try to make this site as great as possible! Here you can see my different works and projects that I've done or taken part in. Feel free to surf around!
        </p>
        {/* You can add more sections, images, etc. here as needed */}
      </section>
    </div>
  </main>

</Layout>