<footer
    class="p-8 bg-gray-900 text-white flex flex-col md:flex-row justify-between items-center text-center md:text-left"
>
    <div class="mb-4 md:mb-0">
        <p class="m-0 font-['Whyte_Inktrap_Super'] text-2xl font-bold">
            Hi.
        </p>
    </div>
    <div class="flex space-x-4">
        <a
            href="https://x.com/atkviss"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white text-xl transition-transform duration-300 ease-in-out hover:scale-110"
            aria-label="Twitter"
        >
            <i class="fab fa-twitter"></i>
        </a>
        <a
            href="https://www.instagram.com/usrarama"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white text-xl transition-transform duration-300 ease-in-out hover:scale-110"
            aria-label="Instagram"
        >
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</footer>