<section id="hero" class="min-h-screen flex flex-col md:flex-row bg-gray-100 px-2">
    <div
      class="w-full md:w-1/2 flex flex-col justify-center items-start py-16 px-12 text-left bg-white"
    >
      <h1 class="text-4xl md:text-5xl font-bold text-gray-800"> Hello! I'm usrarama
      </h1>
      <p class="mt-4 text-lg text-gray-800"> Take a look at my projects and designs and learn more about me
      </p>
    </div>
    <div class="w-full md:w-1/2 relative overflow-hidden p-8 bg-gray-200 flex-grow-1">
      <img src="/images/hero-image-placeholder.webp" alt="Showcase of Stephan Hofburg's Graphic Design Work"
        class="w-full h-full object-cover absolute inset-0" />
      <div class="absolute inset-0 bg-gradient-to-r from-burple-100 to-burqoise"></div>
    </div>
  </section>