<section id="hero" class="min-h-screen flex flex-col md:flex-row bg-gray-100 px-2">
    <div
      class="w-full md:w-1/2 flex flex-col justify-center items-start py-16 px-12 text-left bg-white"
    >
      <h1 class="text-4xl md:text-5xl font-bold text-gray-800"> Hello! I'm Stephan Hofburg.
      </h1>
      <p class="mt-4 text-lg text-gray-800"> I specialize in branding and logo design. Let me craft a unique and
        memorable logo that sets your business apart.
      </p>
      <button
        class="mt-6 px-6 py-3 font-semibold rounded-lg shadow-md transition-transform duration-300 hover:scale-105 text-white bg-burple-100 hover:bg-burple-200"
      > Discover My Designs
      </button>
    </div>
    <div class="w-full md:w-1/2 relative overflow-hidden p-8 bg-gray-200 flex-grow-1">
      <img src="/images/hero-image-placeholder.webp" alt="Showcase of Stephan Hofburg's Graphic Design Work"
        class="w-full h-full object-cover absolute inset-0" />
      <div class="absolute inset-0 bg-gradient-to-r from-burple-100 to-burqoise"></div>
    </div>
  </section>